nav img{
    height: 2rem;
}

.carousel-item img{
    height: 300px;
    object-fit: cover;
}

.check{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem;
    background-color: rgb(199, 202, 201);
    margin: 1rem 0;
}

.card{
    height: 30rem;
    width: 18rem;
    margin: 10px;
}

.card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
}

footer img{
    height: 2rem;
    background-color: bisque;
}

.cohort{
    display: flex;
    align-items: center;
    align-self: auto;
    color: #d90368;
    font-weight: 500;
}

#cohort{
    background-color: rgba(0, 0, 0, 0.05);
}
/* pagina formulario */

.principal{
    background-color: #CDE8E5;
}

.principal form{
    color: azure;
    font-size: medium;
    font-weight: 700;
    background-color: #6ab5d3 ;
    border-radius: 3%;
}

.cardD{
    width: 80%;
}

.cardD img{
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.info{
    gap:1rem;
}

span{
    color: #d90368;
}

.error{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #d90368;
    padding: 2rem;
}

.textError h2{
    color: aliceblue;
    font-size: 3rem;
    text-shadow: -3px 3px 0px rgba(0,0,0,0.53);
}

.textError h4{
    color: rgb(243, 247, 31);
    text-shadow: -3px 3px 0px rgba(0,0,0,0.53);
}



.oops{
    width: 50%;
}
.error img{
    width: 100%;
}